<div class="container">
  <h1 class="page-header">{{ user?.name }}</h1>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div *ngIf="editable">
        <stft-new-post-form [user]="user" (onFinished)=onAdded($event)></stft-new-post-form>
        <hr>
      </div>
      
      <div *ngFor="let post of user?.posts">
        <div *ngIf="editing != post.id">
          <span class="h3" >{{ post.title }}</span> <i (click)=deletePost(post) class="clickable fa fa-trash pull-right"></i> <i (click)=editPost(post) class="clickable fa fa-edit pull-right"></i>
          <p>{{ post.body }}</p>
        </div>
        <div *ngIf="editing == post.id">
          <stft-new-post-form [user]="user" [post]="post" (onFinished)=onUpdated($event)></stft-new-post-form>
        <hr>
      </div>
    </div>
  </div>
</div>